{{#if model.length}}
	{{#page-layout/header as |header|}}
		{{#header.title}}
			{{if (can "create app") "Your" "Submitted"}} apps
		{{/header.title}}
		<span class="pull-right">
			<ul class="list-inline">
				{{!-- Checkboxes for filtering apps by status --}}
				<li>
					{{app-filter-settings filterSettings=appFilterSettings}}
				</li>

				{{#if (can "create app")}}
					<li>
						{{#link-to "authenticated.apps.new" class="btn btn-primary"}}New...{{/link-to}}
					</li>
				{{/if}}
			</ul>
		</span>
	{{/page-layout/header}}

	{{#page-layout/content}}
		{{#each filteredApps as |app|}}
			{{#app-info
				app=app
				expanded=(eq app selectedApp)
				as |appInfo|
			}}
				{{appInfo.header click=(action (mut selectedApp) (if (not-eq selectedApp app) app))}}
				{{#appInfo.controls as |appInfoControls|}}
					<ul class="list-inline">
						<li>
							{{appInfoControls.statusIndicator}}
						</li>
						<li>
							{{appInfoControls.actionsPanel
								onEditApp=(route-action "onEditApp")
								onDeleteApp=(route-action "onDeleteApp")
								onSetAppStatus=(route-action "onSetAppStatus")
							}}
						</li>
					</ul>
				{{/appInfo.controls}}

				{{#appInfo.content}}
					<hr />
					{{app.description}}
				{{/appInfo.content}}
			{{/app-info}}
		{{else}}
			<h4>
				<div>No apps match your current filter settings</div>
			</h4>
		{{/each}}
	{{/page-layout/content}}
{{else}}
	{{#centered-content}}
		{{#if (can "create app")}}
			<h4>
				<div>You don't have any apps yet!</div>
				<small>{{#link-to "authenticated.apps.new"}}Click here{{/link-to}} to create one</small>
			</h4>
		{{else}}
			<h4>
				<div>It doesn't look like anybody's submitted any apps yet...</div>
				<small>Come back again later!</small>
			</h4>
		{{/if}}
	{{/centered-content}}
{{/if}}
