<span class="h4" {{action (action onClick) app}}>
	{{bs-glyphicon icon=(if expanded "chevron-up" "chevron-down") class="btn"}}
	{{image-preview imageFile=app.image}}
	{{app.name}}
	{{#unless (can "create app")}}
		<small>by {{app.createdBy.name}}</small>
	{{/unless}}
</span>

{{yield (hash
	header=(component "app-info/header" app=app)
	content=(component "bs-collapse" collapsed=(not expanded) app=app)
)}}
